* {
    box-sizing: border-box;
}

.login-container {
    background: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.headerContainer {
    width: 100%;
    min-height: 150px;
    background: linear-gradient(180deg, #00CCFF, #0099CC);
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerBackground {
    width: 100%;
    height: 100%;
}

.logoWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.miniLogo {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}

.headerTitle {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 1px;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 20px;
    align-items: center;
}

.topSection {
    text-align: center;
}

.selectionTitle {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.buttonContainer {
    width: 85%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 40px;
}

.loginButton {
    background: #00CCFF;
    padding: 14px;
    border-radius: 12px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.loginButton:hover {
    background: #0099CC;
}

.loginForm {
    width: 100%;
    max-width: 400px;
}

.passwordWrapper {
    position: relative;
    width: 100%;
}

.passwordWrapper .input {
    padding-right: 45px;
}

.eyeIcon {
    position: absolute;
    right: 15px;
    top: 35%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #666;
    display: flex;
    align-items: center;
}

.forgotText {
    font-size: 13px;
    color: #333;
    margin-top: -10px;
    margin-bottom: 30px;
    text-decoration: underline;
    cursor: pointer;
}

.inputError {
    border: 1px solid #ff4d4f;
}

/* Тексты ошибок */
.errorText,
.lockText {
    color: #ff4d4f;
    font-size: 13px;
    margin-top: -10px;
    margin-bottom: 20px;
}
.roleButton:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.input {
    width: 100%;
    border: 1px solid #00CCFF;
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
    margin-bottom: 20px;
}