.record-master {
    min-height: 100vh;
    background: linear-gradient(180deg, #AFF1FF, #00C0E8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.back {
    position: absolute;
    top: 50px;
    left: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.title {
    font-size: 32px;
    color: white;
    margin-bottom: 60px;
}

.center {
    width: 180px;
    height: 180px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wave {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background: rgba(201, 246, 255, 0.3);
}

.button {
    width: 100%;
    height: 100%;
    position: absolute;
}
